<div id=topContainer       class="sticky top-0 bg-blue-500 border-black border-8 flex flex-col">
    <div id="header"       class="bg-blue-100">header</div>
    <div id="filterNames"  class="bg-blue-100 hidden">Filter Names</div>
    <div id="addNames"     class="bg-blue-100">Add Names</div>
    <div id="selectDrinks" class="bg-blue-100">Select Drinks</div>
</div>
<div id="bottomContainer"  class="overflow-y-auto bg-green-500 border border-white border-8 flex flex-col">
   <div id="people"       class="bg-blue-100 flex flex-col border border-8 border-black">
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
        <div class="bg-yellow-500">Person</div>
        <div class="bg-red-500">Person</div>
    </div>
        <div id="drinkButtons" class="bg-orange-500 flex flex-col border border-8 border-black">
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
            <div class="bg-yellow-500">Button</div>
            <div class="bg-red-500">Button</div>   
        </div>
</div>
